@page
@model Maris_Silviu_Proiect.Pages.Sectii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Lista sectii</h1>
<p style="text-align:center">
    <a asp-page="Create">Adauga o sectie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sectie[0].SectieName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sectie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SectieName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
